@import "../../../variables";

.awssld__startUp {
  background-color: $primary-color !important;
  z-index: 1000;
}

.StartUpScreen {
  &__animation {
    width: 200px;

    @media (min-width: $breakpoint-tablet) {
      & {
        width: 275px;
      }
    }
  }
}