@import "../../variables";

.Main {
  padding-top: $header-height-mobile;
  flex: 1 0 auto;

  &__container {
    margin: 0 auto;
    max-width: 100%;
  }
}

@media (min-width: $breakpoint-tablet) {
  .Main {
    padding-top: $header-height-desktop;

    &__container {
      padding: 0 64px;
    }
  }
}