@import "../../variables";

.main {
  position: relative;
  padding-top: $header-height-mobile;

  &__container {
    margin: 0 auto;
    max-width: 100%;

    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .main {
    padding-top: $header-height-desktop;

    &__container {
      padding: 0 64px;
    }
  }
}