@import "../../variables";

.header {
  background-color: $primary-color;
  position: fixed;
  width: 100%;
  height: 72px;
  z-index: 3;

  & .header__nav-sub {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    margin-top: 80px;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }

  & .header__logo {
    position: absolute;
    background: url("../../logo.svg") no-repeat;
    background-size: 100% 100%;
    background-position: center;
    left: 50%;
    top: -25px;
    margin-left: -65px;
    width: 125px;
    height: 125px;
  }

  & .header__nav-sub .header__tab a {
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
    letter-spacing: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
  }

  & .header__nav-sub .header__tab {
    position: relative;
    border: none;
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    margin-right: 0;
  }

  & .header__menu-icon {
    cursor: pointer;
    display: inline-block;
    float: left;
    padding: 35px 20px;
    position: relative;
    user-select: none;
  }

  & .header__menu-icon span {
    display: block;
    height: 2px;
    position: relative;
    width: 18px;
  }

  & .header__menu-icon span:before,
  & .header__menu-icon span:after {
    background: lightgrey;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  & .header__menu-icon span:before {
    top: 5px;
  }

  & .header__menu-icon span:after {
    top: -5px;
  }

  & .header__menu-button {
    display: none;
  }

  & .header__menu-button:checked ~ .header__nav-sub {
    max-height: 240px;
  }

  & .header__menu-button:checked ~ .header__menu-icon span {
    background: transparent;
  }

  & .header__menu-button:checked ~ .header__menu-icon span:before {
    transform: rotate(-45deg);
  }

  & .header__menu-button:checked ~ .header__menu-icon span:after {
    transform: rotate(45deg);
  }

  & .header__menu-button:checked ~ .header__menu-icon:not(.steps) span:before,
  & .header__menu-button:checked ~ .header__menu-icon:not(.steps) span:after {
    top: 0;
  }
}

@media screen and (max-width: 767px) {
  & .header__nav-sub .header__tab {
    width: 100%;
    text-align: center;
  }

  & .header__nav-sub {
    margin-top: 92px;
    background-color: #fff;
  }

  & .header__nav-sub .header__tab--active a {
    color: #fff;
    width: 100%;
    background-color: $secondary-color;
  }

  & .header__nav-sub a {
    color: $primary-color;
    width: 100%;
  }
}

@media (min-width: 768px) {

  .header__tab--active:after {
    content: "";
    position: absolute;
    border-top: 1.5px solid white;
    left: 47%;
    bottom: 0;
    top: 50px;
    width: 5%;
    height: 0px;
  }

  .header .header__nav-sub a {
    color: white;
  }

  .header .header__tab {
    padding: 0 120px;
    width: initial;
  }

  .header .header__nav-sub {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .header__menu-icon {
    display: none;
  }

  .header {
    height: 92px;

    & .header__logo {
      left: 50%;
      top: -30px;
      margin-left: -75px;
      width: 150px;
      height: 150px;
    }

    & .header__nav-sub {
      display: inline-block;
      margin-top: 15px;
      padding: 0;
      width: 100%;
      text-align: center;
    }
  }

}


