@import "../../variables";

.About {
  text-align: left;
  font-size: 16px;
  margin: 0;
  animation: entrance 300ms ease-out;
  animation-fill-mode: backwards;

  &__email {
    text-decoration: none;
    color: inherit;
  }

  &__desc {
    max-width: 500px;
    position: relative;
    margin: 20px auto 0 auto;
  }

  &__author-desc {
    text-align: center;
    margin-top: 40px;
  }

  &__contact {
    position: relative;
    margin-top: 40px;
  }

  &__image {
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  &__designer-desc {
    text-align: left;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $breakpoint-tablet-landscape) {
    font-size: 18px;
    padding: 20px;
    margin-top: 60px;

    &__image {
      max-width: 35vh;
      object-fit: contain;
      margin-right: 20px;
    }

    &__desc {
      margin-top: 0;
    }

    &__contact {
      position: absolute;
      bottom: 0;
    }
  }

  @keyframes entrance {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}